@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("./style/alerts.css");
@import url("./style/avatar.css");
@import url("./style/badges.css");
@import url("./style/buttons.css");
@import url("./style/sidebar.css");
@import url("./style/cards.css");
@import url("./style/input.css");
@import url("./style/logo.css");
@import url("./style/homepage.css");
@import url("./style/footer.css");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    --show-code-background-color: #D1D5DB;
    --alerts-text-color: white;
    --main-outer-background-color: #ECFDF5;
    --main-inner-background-color: white;
}

.main {
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: "header header "
        "sidebar mainContent";
    background-color: var(--main-outer-background-color);
}

.header {
    grid-area: header;
    margin-bottom: 1rem;
    background-color: var(--main-outer-background-color);
    box-shadow: 0px 0px 8px 0px var(--shadow-color);
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list li {
    margin-right: 1rem;
    font-weight: bold;
}

.main-outer {
    grid-area: mainContent;
    background-color: var(--main-outer-background-color);
}

.main-inner {
    padding: 0.5rem;
    border: 1px solid black;
    margin: 2rem;
    box-shadow: 0px 0px 8px 0px var(--shadow-color);
    border-radius: 5px;
    background-color: var(--main-inner-background-color);
}

.show-code {
    min-height: 60px;
    border-radius: 0.5rem;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--show-code-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}