.main{
    display : grid ;
    grid-template-columns: 150px  auto ;
    grid-template-rows: 80px  auto;
    grid-template-areas: "sidebar header "
    "sidebar mainContent";
    border: 1px solid black;
}

.sidebar{
    grid-area: sidebar;
    border: 1px solid black;

}
.mainContent{
    grid-area: mainContent;
    border: 1px solid black;
    display: flex ;
    align-items: center;
    justify-content: center;

}
.mainContent div{
    /* to center a div */
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header{

    grid-area: header;
    border: 1px solid black;

}