@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

:root{
    /* colors will go here */
    /* --success-alert-color :  ; */
    --alerts-text-color : white ;

}
.main{
    display : grid ;
    grid-template-columns: 10rem  auto ;
    grid-template-rows: 10rem  auto;
    grid-template-areas: "header header "
    "sidebar mainContent";
    /* border: 1px solid red; */
}
.header{
    grid-area: header;
}

.logo{
    display: inline;
    margin-left : 1rem;
    /* color : blue */
}
.header-list{
    margin : 1rem;
    list-style: none;
    display: flex;
    float : right;
    /* justify-content: space-between; */
    
 } 
.header-list li{
    margin : 1rem;
    display: flex;
    align-items: flex-end;
}



.main-outer{
    grid-area: mainContent;
    /* border: 1px solid blue; */


}
.main-inner{
    margin-left: 1rem;
    margin-right: 1rem;
}

.show-code{
    min-height : 60px ;
    border-radius: 0.5rem;
    margin : 1rem ;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #D1D5DB;
    display: flex; 
    align-items: center;
    justify-content: center;
}

