.badge-common {
    /* make it align in center */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    /* this does the whole thing */
    position: relative;
    left: 1.5em;
    bottom: 2.7em;
    margin-left: 0.3em;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.badge-one {
    background-color: #047857;
    color: white;
}

.badge-two {
    background-color: #DC2626;
    color: white;
}

.badge-three {
    background-color: #2563EB;
    color: white;
}

.badge-avatar {
    left: 3em;
    bottom: 5em;
    margin-left: 0.3em;
    border-radius: 50%;
    background-color: #2563EB;
    color: white;
}