body{
    --logo-color : #10B981 ;

}
.logo{
    /* font-size: xx-large; */
    color : var(--logo-color);
    position: relative;
    left : -.8em;
    right : -1em ;
    display: inline;
    margin-left : 1rem;
    
}
.span-n{
    position: relative;
    right: 1.3rem;
}

.span-ui{
    position: relative;
    right: 1rem;
    color : var(--logo-color)
}

