body {
    --list-background-color: #10B981;
    --list-color: white;
}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid black;
}

.sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.list-item {
    padding: 1rem;
    min-width: 100px;
}

.list-item :hover {
    transition: 0.5s;
    color: var(--list-color);
    border-radius: 10px;
    background-color: var(--list-background-color);
}

.list-item-link {
    text-decoration: none;
    padding: 1rem;
    min-width: 80px;
    color: black;
    font-weight: bold;
}