/* ALERTS START */
.alert-normal{

    margin : 1rem ;
    border : 1px solid black ;
    font-weight: bold;
    padding :0.1rem;
    padding-left : 0.5rem ;

}

.alert-success{

    margin : 1rem ;
    border : 1px solid #10B981 ;
    color : white;
    font-weight: bold;
    background-color: #10B981;
    padding-left : 0.5rem ;

}

.alert-danger{

    margin : 1rem ;
    border: 1px solid  #DC2626;
    background-color:  #DC2626;
    color : white ;
    font-weight: bold ;
    padding-left : 0.5rem ;
    
}

.alert-info{

    margin : 1rem ;
    border: 1px solid  #60A5FA;
    background-color:  #60A5FA;
    color : white ;
    font-weight: bold ;
    padding-left : 0.5rem ;

}



.alert-warning{

    margin : 1rem ;
    border: 1px solid  #FBBF24;
    background-color:  #FBBF24;
    color : white ;
    font-weight: bold ;
    padding-left : 0.5rem ;

}
/* ALERTS END */