
.sidebar{
    grid-area: sidebar;
    border-right: 1px solid black ;
}

.sidebar ul{
    list-style: none;
}
.sidebar li{
    padding: 0.5rem;
}
.list-item{
    text-decoration: none;
    padding: 1rem;
    color : black ;

}