
body{
    --list-background-color :  #10B981 ;
    --list-color : white ;
}
.sidebar{
    grid-area: sidebar;
    border-right: 1px solid black ;
}

.sidebar ul{
    list-style: none;

}
.sidebar li{
    padding: 0.5rem;
}
.list-item{
    text-decoration: none;
    padding: 1rem;
    color : black ;

}

li :hover{
    
    color :var(--list-color);
    font-size: large;
    padding: 0.5rem;
    background-color: var(--list-background-color);
    border-radius: 5px;

    font-weight: bold ;
}